@tailwind base;
@tailwind components;
@tailwind utilities;

.page-wrapper {
  background-image: url(assets/BG.svg);
  background-color: black;
  background-size: cover;
  background-position: top;
  font-family: 'Cinzel', serif;
}

.page-wrapper .page-title {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(8px);
  background: -webkit-linear-gradient(#E7E7E7, #949494);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-wrapper .card {
  background-color: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(8px);
  width: calc(100% - 20px);
  margin: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');